.header {
  background: $grey;
  padding: 79px 0 37px 0;

  @media (max-width: 1250px) {
    padding: 40px 0 15px 0;
  }
}

.header-container {
  margin: 0 auto;
  padding: 0 16px;
  @media (max-width: 2560px) {
    max-width: 1950px;
  }

  @media (max-width: 1980px) {
    max-width: 1250px;
  }
}

.header-row {
  align-items: flex-start;
}

.header-nav {
  display: flex;
  column-gap: 75px;

  @media (max-width: 1250px) {
    display: none;
  }
}

.logo-group {
  text-decoration: none;
  color: #FFF;
  position: relative;
}

.logo-title {
  font-family: 'Polly Rounded';
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  position: relative;

  &::before {
    content: '';
    background: url("../img/header/logo.svg");
    width: 68px;
    height: 64px;
    position: absolute;
    bottom: 11px;
    left: -53px;
    animation: move infinite linear .7s;
    animation-direction: alternate;
    background-size: cover;
  }

  @media (max-width: 1250px) {
    margin-left: 30px;
    font-size: 18px;

    &::before {
      width: 46px;
      height: 44px;
      bottom: 18px;
      left: -30px;
    }
  }
}

@keyframes move {
  0% {
    transform: rotate(0);
  }

    100% {
      transform: rotate(10deg);
    }

}

.logo-about {
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  @media (max-width: 1250px) {
    display: none;
  }
}

.nav-list {
  display: flex;
  column-gap: 56px;
}

.nav-list__item {
  color: #FFF;
  font-weight: 700;
  text-decoration: none;
}

.nav-links {
  display: flex;
  column-gap: 18px;
  align-items: center;

  li {
    width: 30px;
    height: 30px;
  }

  &.mobile-menu-footer__nav-links {
    justify-content: center;
  }
}

.social-link {
  width: 30px;
  height: 30px;
  display: block;
  -webkit-transition: transform .4s;
  -moz-transition: transform .4s;
  -ms-transition: transform .4s;
  -o-transition: transform .4s;
  transition: transform .4s;
  will-change: transform;
  background-size: cover;
  background-repeat: no-repeat;

  &.houseoff {
    background: url("../img/header/social-icons/Logomark-Transparent White 2.png");
  }

  &.inst {
    background: url("../img/header/social-icons/insta_logo_fin.png");
  }

  &.tg {
    //background: url("../img/header/social-icons/telegram_logo_fin.png");
    background: url("../img/social_icons/telegram.svg");
  }

  &.twit {
    //background: url("../img/header/social-icons/twitter_log_ fin 1.png");
    background: url("../img/social_icons/twitter.svg");
  }

  &.discord{
    //background: url("../img/header/social-icons/etherscan-logo-fin.png");
    background: url("../img/social_icons/discord.svg");
  }

  &:hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
  }

  &.social-link__menu {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.burger {
  display: none;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    height: 2px;
    width: 30px;
    background: #FFF;
  }

  &.burger-close {
    position: relative;
    top: 4px;
    & span:nth-child(1) {
      display: none;
    }

    & span:nth-child(2) {
      transform: rotate(133deg);
      position: relative;
      top: 10px;
    }

    & span:nth-child(3) {
      transform: rotate(50deg);
    }
  }

  @media (max-width: 1250px) {
    display: flex;
  }
}

.mobile-menu {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0;
  z-index: 9999;
}

.mobile-menu-header {
  padding-top: 40px;
  background: #2D2D2D;
}

.mobile-menu-content {
  height: 300px;
  background: rgba(45, 45, 45, 0.97);
  width: 100%;
}


.mobile-nav {
  margin-left: 10%;
  padding-top: 45px;

  li {
    a {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 44px;
      color: #FFF;
      text-decoration: none;
      letter-spacing: 4px;
    }
  }
}

.mobile-menu-footer {
  height: 400px;
  background: rgba(45, 45, 45, 0.95);
  width: 100%;
  padding-top: 40px;
}

.mobile-menu-content__nav-links {
  margin-left: 10%;
}

.mobile-group {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.mobile-group-header {
  display: none;
  align-items: center;
  gap: 30px;

  @media (max-width: 1250px) {
    display: flex;
  }
}