// Helpers
@import "helpers/vars";

.none {
  display: none;
}

// Base
@import "base/reset";
@import "base/base";
@import "base/fonts";

// Blocks
@import "blocks/about-product";
@import "blocks/product-cards";
@import "blocks/about";
@import "blocks/company";
@import "blocks/nft-cards";
@import "blocks/game-block";
@import "blocks/FAQ-block";
@import "blocks/footer-about";
@import "blocks/scroll-top";
@import "blocks/roadmap";
@import "blocks/contact-us";
@import "blocks/wallet-group";
@import "blocks/modal-window";

// Templates
@import "templates/header";
@import "templates/footer";



