.about-product__video__text-block {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #F3F3F3;
  width: 100%;
  height: 100%;
  //background-color: rgba(0, 0, 0, 0.7);
  //opacity: 0.7;
}

.video__text-block__title {
  font-family: 'Polly Rounded';
}

.about-product__video__text-block__title {
  text-align: center;
  font-size: 52px;
  line-height: 51px;
  font-weight: bold;
  margin-top: 250px;

  @media (max-width: 1250px) {
    font-size: 32px;
    margin-top: 50px;
    line-height: 31px;
  }
}

.about-product__video__text-block__title-min {
  font-size: 36px;
  line-height: 51px;
  margin-top: 22px;
  font-weight: bold;

  @media (max-width: 1250px) {
    font-size: 20px;
    margin-top: 5px;
    line-height: 31px;
  }
}

.about-product__video__text-block__subtitle {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin-top: 130px;

  @media (max-width: 1250px) {
    margin-top: 30px;
    font-size: 20px;
  }
}

.about-product__video__text-block__hashtags {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  gap: 70px;
  color: #349EEB;
  font-weight: 600;



  @media (max-width: 1250px) {
    margin-top: 20px;
    gap: 20px;

    li {
      font-size: 15px;
    }
  }
}

.hashtag {
  position: relative;
  animation: shake 1.5s;
  animation-iteration-count: infinite;

  &.hashtag-1 {
    animation: shake 1.5s;
    animation-iteration-count: infinite;
  }

  &.hashtag-2 {
    animation: shake 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
  }

  &.hashtag-3 {
    animation: shake 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
  }

  &.hashtag-4 {
    animation: shake 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
  }
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  //20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(2px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  //50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 2px) rotate(0deg); }
  //70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  //90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, 2px) rotate(-1deg); }
}