.about-product {
  max-height: 733px;
  display: flex;

  @media (max-width: 1440px) {
    max-height: 633.92px;
  }

  @media (max-width: 1250px) {
   //flex-direction: column-reverse;
    display: block;
    max-height: 100%;
  }
}

.about-product__video {
  width:65%;
  overflow: hidden;
  padding-bottom: 42%; /*942/1894*100%*/
  position: relative;
  height: 0;
  & video {
    position: absolute; top: 0; left: 0;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1250px) {
    width: 100%;
    padding-bottom: 75%;

    & video {
      max-width: 100%;
      height: auto;
    }
  }
}

.about-product__buy-block {
  width: 51%;
  height: auto;
  background: #F4E9E9;
  padding-top: 200px;
  text-align: center;
  overflow: hidden;
  position: relative;

  @media (max-width: 1250px) {
    width: 100%;
  }
}

.about-product__buy-block__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 13px;
  position: relative;
  z-index: 999;
}

.about-product__buy-block__about {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 33px;
}

.about-product__buy-block__btn {
    font-family: 'ColorTube';
    display: inline-block;
    padding: 14px 43px;
    font-size: 20px;
    line-height: 32px;
    background: rgba(15, 110, 178, 1);
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    text-decoration: none;
    color: #FFF;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
    transition: transform .4s;
    will-change: transform;
    z-index: 999;
    position: relative;
    text-align: center;

  &:hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
  }

  &.about-product__buy-block__btn--margin {
    margin-top: 100px;
    margin-bottom: 120px;
  }

  &.about-product__buy-block__btn--margin-02 {
    margin-top: 120px;
    margin-bottom: 100px;
  }

  @media (max-width: 1250px) {
    font-size: 18px;
    line-height: 29px;
    padding: 15px 46px;

    &.about-product__buy-block__btn--margin {
      margin-top: 40px;

    }
  }

}

.product__buy-block__animate__box {
  position: absolute;
}

.sofa-animate {
  top: 0;
  animation: fade-right linear .7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.inf-animate {
  position: absolute;
  animation: fade-move infinite linear 1s;
  animation-direction:  alternate-reverse;
  z-index: 10;
  & img {
    z-index: 10;
    position: relative;
  }
}

.table-animate {
  top: 300px;
  animation: fade-right linear .7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.table__around-animate {
  left: 45%;
  bottom: 0;
  transform: translateX(-45%);
  animation: fade-bottom linear .7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

}

.coffee_table-animate {
  right: 164px;
  bottom: 300px;
  animation: fade-left linear .7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.chair-animate {
  right: 450px;
  top: 0;
  animation: fade-top linear .7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.decor-animate {
  top: 0;
  right: 150px;
  animation: fade-top linear .7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes fade-top {
  from {
    top: -200px;
  }

  to {
    top: 0px;
  }
}

@keyframes fade-left {
  from {
    right: -200px;
  }

  to {
    right: 164px;
  }
}

@keyframes fade-right  {
  from {
    left: -200px;
  }

  to {
    left: -100px;
  }
}

@keyframes fade-bottom {
  from {
    bottom: -200px;
  }

  to {
    bottom: 150px;
  }
}

@keyframes fade-move {
  from {
    top: 20px;
  }

  to {
    top: 2px;
  }

}
//
//.animate-carousel-item {
//  //max-height: 205px;
//  width: 205px;
//  img {
//    width: 100%;
//    height: auto;
//  }
//}