.about-product__video__text-block {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #F3F3F3;
  width: 100%;
  height: 100%;
}

.video__text-block__title {
  font-family: 'Polly Rounded';
}

.about-product__video__text-block__title {
  text-align: center;
  font-size: 52px;
  line-height: 51px;
  font-weight: bold;
  margin-top: 200px;
}

.about-product__video__text-block__title-min {
  font-size: 36px;
  line-height: 51px;
  margin-top: 22px;
  font-weight: bold;
}

.about-product__video__text-block__subtitle {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin-top: 100px;
}

.about-product__video__text-block__hashtags {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  gap: 70px;
  color: #349EEB;
  font-weight: 600;
}