.about-product {
  max-height: 733px;
  display: flex;

  @media (max-width: 1440px) {
    max-height: 633.92px;
  }

  @media (max-width: 2560px) {
    max-height: 1050px;
  }

  @media (max-width: 1250px) {
    display: block;
    max-height: 100%;
  }
}

.about-product__video {
  width:63%;
  overflow: hidden;
  padding-bottom: 41%;
  position: relative;
  height: 0;

  img {
    width: 100%;
  }

  picture {
    max-width: 100%;
  }

  @media (max-width: 1250px) {
    width: 100%;
    padding-bottom: 75%;

    & video {
      max-width: 100%;
      height: auto;
    }
  }
}

.about-product__buy-block {
  width: 51%;
  height: auto;
  background: #F4E9E9;
  text-align: center;
  overflow: hidden;
  position: relative;


  @media (max-width: 2560px) {
    padding-top: 400px;
  }

  @media (max-width: 1980px) {
    padding-top: 300px;
  }

  @media (max-width: 1640px) {
    padding-top: 200px;
  }

  @media (max-width: 1250px) {
    width: 100%;
    min-width: 390px;
    padding: 100px 0 120px 0;
  }

}

.about-product__buy-block__title {
  font-weight: 700;
  margin-bottom: 13px;
  position: relative;
  z-index: 999;


  @media (max-width: 2560px) {
    font-size: 56px;
    line-height: 76px;
  }

  @media (max-width: 1440px) {
    font-size: 36px;
    line-height: 49px;
  }
}

.about-product__buy-block__about {
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 33px;
  color: #626262;

  @media (max-width: 1250px) {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #626262;
    margin-bottom: 15px;
  }
}

.about-product__buy-block__btn {
    font-family: 'Polly Rounded';
    font-weight: bold;
    display: inline-block;
    padding: 14px 43px;
    line-height: 32px;
    background: rgba(15, 110, 178, 1);
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    text-decoration: none;
    color: #FFF;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
    transition: transform .4s;
    will-change: transform;
    z-index: 999;
    position: relative;
    text-align: center;
    text-transform: uppercase;

  &:hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
  }

  &.about-product__buy-block__btn--margin {
    margin-top: 100px;
    margin-bottom: 120px;
  }

  &.about-product__buy-block__btn--margin-02 {
    margin-top: 120px;
    margin-bottom: 100px;
  }

  @media (max-width: 2560px) {
    font-size: 35px;
    padding: 20px 43px;
  }

  @media (max-width: 1980px) {
    padding: 14px 43px;
  }

  @media (max-width: 1440px) {
    font-size: 30px;
  }

  @media (max-width: 1250px) {
    font-size: 24px;
    line-height: 29px;
    padding: 15px 46px;

    &.about-product__buy-block__btn--margin {
      margin-top: 40px;

    }

    &.about-product__buy-block__btn--margin-02 {
      margin-top: 40px;
    }
  }

}

.product__buy-block__animate__box {
  position: absolute;
}

.sofa-animate {
  top: 0;
  animation: fade-right linear .7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

  @media (max-width: 2560px) {
    left: -100px;
  }

  @media (max-width: 1250px) {
    top: -83px;
  }
}

.inf-animate {
  position: absolute;
  z-index: 10;
  & img {
    z-index: 10;
    position: relative;
  }
}

.inf-animate1 {
  position: absolute;
  animation: fade-move1 infinite linear 5s;
  animation-direction:  alternate-reverse;
  z-index: 10;
  & img {
    z-index: 10;
    position: relative;
  }
}

.inf-animate2 {
  position: absolute;
  animation: fade-move2 infinite linear 5s;
  animation-direction:  alternate-reverse;
  z-index: 10;
  & img {
    z-index: 10;
    position: relative;
  }
}

.inf-animate3 {
  position: absolute;
  animation: fade-move3 infinite linear 2s;
  animation-direction:  alternate-reverse;
  z-index: 10;
  & img {
    z-index: 10;
    position: relative;
  }
}

.inf-animate4 {
  position: absolute;
  animation: fade-move4 infinite linear 5s;
  animation-direction:  alternate-reverse;
  z-index: 10;
  & img {
    z-index: 10;
    position: relative;
  }
}

.inf-animate5 {
  position: absolute;
  animation: fade-move5 infinite linear 7s;
  animation-direction:  alternate-reverse;
  z-index: 10;
  & img {
    z-index: 10;
    position: relative;
  }
}

.inf-animate6 {
  position: absolute;
  animation: fade-move6 infinite linear 6s;
  animation-direction:  alternate-reverse;
  z-index: 10;
  & img {
    z-index: 10;
    position: relative;
  }
}

.table-animate {
  left: -50%;
  bottom: 305px;
  animation: fade-right linear .7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

  @media (max-width: 2560px) {
    bottom: 503px;
    left: -172px;
  }

  @media (max-width: 1980px) {
    bottom: 300px;
    left: -100px;
  }

  @media (max-width: 1250px) {
    bottom: 150px;
    left: -75px;
  }
}

.table__around-animate {
  left: 45%;
  bottom: 30px;
  transform: translateX(-45%);
  animation: fade-bottom linear .7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

  @media (max-width: 2560px)  {
    left: 45%;
    bottom: 302px;
  }

  @media (max-width: 1980px) {
    bottom: 172px;
  }

  @media (max-width: 1250px) {
    transform: translateX(-35%);
    left: 35%;
    bottom: 140px;
  }
}

.coffee_table-animate {
  right: 64px;
  bottom: 100px;
  animation: fade-left linear .7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

  @media (max-width: 2560px) {
    right: 293px;
    bottom: 433px;
  }

  @media (max-width: 1980px) {
    bottom: 300px;
    right: 185px;
  }

  @media (max-width: 1250px) {
    bottom: 162px;
    right: 120px;
  }
}

.chair-animate {
  right: 55%;
  top: 0;
  animation: fade-top linear .7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

  @media (max-width: 2560px) {
    top: 40px;
    right: 60%;
  }

  @media (max-width: 1980px) {

  }

  @media (max-width: 1250px) {
    left: 45%;
    transform: translateX(-45%);
    top: -16px;
  }
}

.decor-animate {
  top: 0;
  right: 16%;

  @media (max-width: 2560px) {
    top: 0px;
    right: 30%;
  }

  @media (max-width: 1980px) {

  }

  @media (max-width: 1250px) {
    right: 100px;
  }
}

//@keyframes fade-top {
//  from {
//    top: -200px;
//  }
//
//  to {
//    top: 0px;
//  }
//}
//
//@keyframes fade-left {
//  from {
//    right: -100%;
//  }
//
//  to {
//    right: 17%;
//  }
//}
//
//@keyframes fade-right  {
//  from {
//    left: -200%;
//  }
//
//  to {
//    left: -10%;
//
//  }
//}
//
//@keyframes fade-bottom {
//  from {
//    bottom: -200px;
//  }
//
//  to {
//    bottom: 20%;
//  }
//}

@keyframes fade-move1 {
 0% {
   transform: rotate(10deg);
 }

  100% {
    transform: rotate(-20deg);
  }
}

@keyframes fade-move2 {
  0% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(20deg);
  }
}

@keyframes fade-move3 {
  0% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

@keyframes fade-move4 {
  0% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

@keyframes fade-move5 {
  0% {
    transform: rotate(16deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

@keyframes fade-move6 {
  0% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

.animate-carousel-item {
  max-height: 205px;
  width: 205px;
  h4 img {
    width: 100%;
    height: auto;
  }

  @media (max-width: 1250px) {
    max-width: 130px;
  }
}

.inf-animate {
  @media (max-width: 2560px) {
    &.chair img {
      width: 461px;
      height: 450px;
    }

    &.sofa img {
      width: 465px;
      height: 421px;
    }

    &.table img {
      width: 587px;
      height: 577px;
    }

    &.decor img {
      width: 346.85px;
      height: 362.79px;
    }

    &.coffee-table img {
      width: 334px;
      height: 372px;
    }

    &.table-around img {
      width: 226px;
      height: 258px;
    }
  }

  @media (max-width: 1980px) {
    &.chair img {
      width: 261px;
      height: 250px;
    }

    &.sofa img {
      width: 265px;
      height: 221px;
    }

    &.table img {
      width: 387px;
      height: 377px;
    }

    &.decor img {
      width: 246.85px;
      height: 262.79px;
    }

    &.coffee-table img {
      width: 234px;
      height: 272px;
    }

    &.table-around img {
      width: 126px;
      height: 158px;
    }
  }

  @media (max-width: 1250px) {
    &.chair img {
      width: 161px;
      height: 150px;
    }

    &.sofa img {
      width: 265px;
      height: 221px;
    }

    &.table img {
      width: 187px;
      height: 177px;
    }

    &.decor img {
      width: 146.85px;
      height: 162.79px;
    }

    &.coffee-table img {
      width: 134px;
      height: 172px;
    }

    &.table-around img {
      width: 126px;
      height: 158px;
    }
  }
}