.about {
  min-height: 784px;
  width: 100%;
  background: url("../img/about/bc_img.jpg");
  padding-top: 120px;
  text-align: center;
  background-size: cover;
}

.about-title {
  color: $yellow;
  font-family: 'ColorTube';
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 48px;

  @media (max-width: 1250px) {
    margin-bottom: 24px;
  }
}

.about-subtitle {
  color: #FFF;
  text-align: center;

  @media (max-width: 1250px) {
    font-size: 17px;
    line-height: 23px;
  }
}

.about-block-text {
  max-width: 980px;
  margin: 0 auto 80px auto;
}

.group {
  position: relative;
}

.circle-animate-purple {
  width: 20px;
  height: 20px;
  background: #CA47D6;
  position: absolute;
  right: 0;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);

  &.circle-animate {
    &::before {
      content: '';
      position: absolute;
      top: 8px;
      width: 966px;
      height: 2px;
      background: #CA47D6;
      transform: translateX(-100%);
      animation: draw 0.5s linear forwards;
    }
  }

  @media (max-width: 1250px) {
    display: none;
  }
}

.circle-animate-green {
  width: 20px;
  height: 20px;
  background: #AEDC2D;;
  position: absolute;
  right: 0;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);

  &.circle-animate {
    &::before {
      content: '';
      position: absolute;
      top: 8px;
      width: 966px;
      height: 2px;
      background: #AEDC2D;;
      transform: translateX(-100%);
      animation: draw 0.5s linear forwards;
    }
  }

  @media (max-width: 1250px) {
    display: none;
  }
}

@keyframes draw {
  0% {
    width: 100px;
  }

  100% {
    width: 900px;
  }

}

//