.about-company {
  background: $grey;
  padding: 120px 0;
  text-align: center;

  @media (max-width: 1250px) {
    padding: 100px 0 65px 0;
  }
}

.about-company__title {
  font-family: 'Polly';
  margin-bottom: 70px;
  text-align: left;
  font-size: 30px;
  font-weight: bold;

  &.purple {
    color: #CA47D6;
  }

  &.green {
    color: #AEDC2D;
  }

  @media (max-width: 1250px) {
    text-align: center;
    margin-bottom: 40px;
  }
}

.about-company__story-block {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1250px) {
    flex-direction: column;
  }
}

.about-company__story-block__text {
  max-width: 541px;

  p {
    color: #FFF;
    text-align: left;
  }

  @media (max-width: 1250px) {
    p {
      font-size: 17px;
      line-height: 23px;
    }
    margin: 0 auto;
  }
}

.about-company__story-block__video {
  max-height: 550px;
  max-width: 550px;

  & img {
    max-width: 100%;
  }

  @media (max-width: 1250px) {
    margin: 0 auto;
  }
}

.about-company__story-block__story__text {
  color: #FFF;
  text-align: left;
  max-width: 1100px;
  margin-bottom: 70px;

  @media (max-width: 1250px) {
    font-size: 17px;
    line-height: 23px;
  }
}


