.footer-about {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-terms {
  a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    line-height: 22px;

    span {
      font-weight: 700;
    }
  }
}

.footer-disclaimer {
  font-size: 16px;
  line-height: 22px;

  span {
    font-weight: 700;
    position: relative;
    margin-right: 16px;

    &::before {
      content: '';
      position: absolute;
      width: 3px;
      height: 3px;
      top: 50%;
      transform: translateY(-50%);
      background: #FFF;
      right: -10px;
      border-radius: 50%;
    }
  }
}
