.nft-cards {
display: flex;
  justify-content: center;
  gap: 200px;
}

.nft-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nft-card__img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  margin: 0 auto;

  &.nft-card__img__01 {
    animation: change_color_01 infinite 8s linear;
    animation-fill-mode: both;
    animation-direction:alternate;
  }

  &.nft-card__img__02 {
    animation: change_color_02 infinite 8s linear;
    animation-fill-mode: both;
    animation-direction:alternate;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
}

@keyframes change_color_01 {
  0% {
      border: 4px solid yellow;
  }

  25% {
    border: 4px solid #00ff22;
  }

  50% {
    border: 4px solid #0537f6;
  }

  75% {
    border: 4px solid #f66105;
  }

  100% {
    border: 4px solid #e50d82;
  }
}

@keyframes change_color_02 {
  0% {
    border: 4px solid #0cf8ff;
  }

  25% {
    border: 4px solid #8401d2;
  }

  50% {
    border: 4px solid #000000;
  }

  75% {
    border: 4px solid #f60505;
  }

  100% {
    border: 4px solid #ffffff;
  }
}

.nft-card__about {
  margin-top: 58px;
  max-width: 252px;
  color: #FFF;
  text-align: center;
}

.nft-card__about__name {
  font-weight: 700;
  text-align: center;
}

.nft-card__about__text {
  text-align: center;
  font-weight: 400;
}