.product-cards__row {
  display: flex;
  overflow: hidden;
  animation: nudge 5s linear infinite;
}

$blockHeight: 240px;


@-webkit-keyframes marquee {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes marquee {
  0% {
    left: -100%;
  }
  100% {
    left: 00%;
  }
}

@-webkit-keyframes marquee-2 {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}

@keyframes marquee-2 {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}

.b-marquee-line {
  &__flow {
    background: #f0f0f0;
    font-size: 0;
    line-height: 0;
    height: 240px;
    overflow: hidden;
    position: relative;
    width: 100%;
    &-in {
      display: flex;
      height: 240px;
      .cssanimations & {
        width: 200%;
        position: absolute;
        overflow: hidden;
        -webkit-animation: marquee 15s linear infinite;
        animation: marquee 15s linear infinite;
      }
    }
    &-block {
      //white-space: nowrap;
      display: flex;
      .no-cssanimations &:last-child {
        display: none;
      }
      .cssanimations & {
        white-space: nowrap;
        float: left;
        width: 50%;
      }
    }
    &-item {
      height: 240px;

    }
  }
}

.b-marquee-line-2 {
  &__flow {
    background: #f0f0f0;
    font-size: 0;
    line-height: 0;
    height: 240px;
    overflow: hidden;
    position: relative;
    width: 100%;
    &-in {
      display: block;
      height: 240px;
      .cssanimations & {
        width: 200%;
        position: absolute;
        overflow: hidden;
        -webkit-animation: marquee-2 15s linear infinite;
        animation: marquee-2 15s linear infinite;
      }
    }
    &-block {
      white-space: nowrap;
      .no-cssanimations &:last-child {
        display: none;
      }
      .cssanimations & {
        white-space: nowrap;
        float: left;
        width: 50%;
      }
    }
    &-item {
      height: 240px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .b-marquee-line__flow-item {
    height: 203px;
  }

  .b-marquee-line__flow {
    height: 203px;
  }

  .b-marquee-line__flow-in {
    height: 203px;
  }

  .b-marquee-line-2__flow {
    height: 203px;
  }

  .b-marquee-line-2__flow-in {
    height: 203px;
  }
}

@media screen and (max-width: 1250px) {
  .b-marquee-line__flow-item {
    height: 130px;
  }

  .b-marquee-line__flow {
    height: 130px;
  }

  .b-marquee-line__flow-in {
    height: 130px;
  }

  .b-marquee-line-2__flow {
    height: 130px;
  }

  .b-marquee-line-2__flow-in {
    height: 130px;
  }
}

