.about-rarity {
  text-align: center;
  color: #FFF;
  padding-bottom: 70px;

  @media (max-width: 1250px) {
    padding-bottom: 40px;
  }
}

.about-company__title__rarity {
  text-align: center;
  margin-bottom: 45px;

  @media (max-width: 1250px) {
    margin-bottom: 30px;
  }
}

.about-rarity__subtitle {
  max-width: 780px;
  margin: 0 auto 165px auto;

  @media (max-width: 1250px) {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 45px;
  }
}

.rarity-tabs__button {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  color: #FFF;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
  padding: 8px 18px;
  border-radius: 20px;
  transition: 0.4s;

  &.active-button {
    color: #FFFF;
    border: 2px solid #FFF;
  }

  &.defBtn {
    color: $gold;
    border: 2px solid $gold;
  }

  @media (max-width: 1250px) {
    margin-bottom: 10px;
  }
}

.rarity-block {
  min-height: 810px;
  background-size: cover;
  padding-top: 70px;
  display: none;

  &.active-tab {
    display: block;
  }

  &.gold-poster {
    background: url("../img/rarity_img/posters/Gold.jpg");
  }

  &.typical-poster {
    background: url("../img/rarity_img/posters/Typical.jpg");
  }

  &.silver-poster {
    background: url("../img/rarity_img/posters/Silver.jpg");
  }

  &.diamond-poster {
    background: url("../img/rarity_img/posters/Diamond.jpg");
  }
}

.about-flats {
  padding: 24px 41px;
  background: rgba(45, 45, 45, 0.9);
  border-radius: 40px;
  color: #FFF;
  max-width: 1110px;
  margin: 0 auto 100px auto;

  @media (max-width: 1250px) {
    display: none;
  }
}

.gold-flat {
  color: $gold;
  font-weight: 600;
}

.rarity-block__content {
  display: flex;
  //justify-content: space-between;
  align-items: center;
  gap: 100px;

  @media (max-width: 1250px) {
    display: block;
  }
}

.apartment {
  max-width: 500px;
  max-height: 500px;

  img {
    max-width: 100% ;
  }
}

//.rarity-block__content__flat-information {
//  background: rgba(45, 45, 45, 0.9);
//  border-radius: 40px;
//  padding: 58px 41px;
//  display: inline-block;
//
//  @media (max-width: 1250px) {
//    display: block;
//
//  }
//}

.rarity-block__content__flat-information {
  background: rgba(45, 45, 45, 0.9);
  border-radius: 40px;
  padding: 58px 41px;
  display: inline-block;
  display: flex;
  text-align: left;
  gap: 100px;

  @media (max-width: 1250px) {
    gap: 0;
    justify-content: space-between;
    padding: 42px 20px;
  }
}

.rarity-information__points {
  font-size: 20px;
  line-height: 27px;

  &.gold {
    li {
      color: $gold;
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media (max-width: 1250px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

.rarity-information__about {
  li {
    color: #FFF;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 27px;
    text-align: right;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: 1250px) {
    li {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
