.roadmap {
  width: 100%;
  background-size: cover;
  margin-bottom: 150px;

  @media (max-width: 1250px) {
    margin-bottom: 75px;
  }
}

.roadmap__cards {
  @media (max-width: 2560px) {
    margin-top: 100px;
  }

  @media (max-width: 1250px) {
    margin-top: 50px;
  }
}

.roadmap__card  {
  margin: 0 auto 20px auto;
  border-radius: 45px;
  position: relative;
  z-index: 100;
  padding: 10px;

  &.turquoise {
    background: #66DBBF;
  }

  &.blue {
    background: #66CDDB;
  }

  &.yellow {
    background: #DBC166;
  }

  &.pink {
    background: #F48FD8;
  }

  &.purple {
    background: #B998FF;
  }

  @media (max-width: 2560px) {
    max-width: 1000px;
  }

  @media (max-width: 1440px) {
    max-width: 790px;
  }

  @media (max-width: 1250px) {
    margin-bottom: 20px;
  }
}

.roadmap__card__title {
  color: #FFF;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 32px;
  text-align: left;
  position: relative;
  margin-top: 5px;

  &::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 641px;
    background: #0A5845;
    top: -5px;
  }



  &.blue::before {
    background: #085A65;
  }

  &.yellow::before {
    background: rgba(93, 75, 10, 1);
  }

  &.pink::before {
    background: rgba(114, 47, 95, 1);
  }

  &.purple::before {
    background: rgba(54, 32, 102, 1);
  }

  @media (max-width: 1250px) {
    margin-bottom: 17px;
    &::before {
      display: none;
    }
  }
}

.roadmap__card__about {
  padding: 12px 27px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #2D2D2D;
  position: absolute;
  background: #FFF;
  border-radius: 50px;
  top: -23px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 25%;

  &.min-566 {
    @media (max-width: 1250px) {
      min-width: 284px;
    }
  }

  &.min-490 {
    min-width: 490px;
    @media (max-width: 1250px) {
      min-width: 367px;
    }
  }

  &.min-272 {
    @media (max-width: 1250px) {
      min-width: 273px;
    }
  }
  @media (max-width: 1250px) {
    font-size: 17px;
    line-height: 23px;
  }
}

.roadmap__card-list {
  margin: 0 auto;
  li {
    color: #0A5845;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    margin-bottom: 15px;
    position: relative;

    &::before {
      content: '';
      width: 8px;
      height: 8px;
      background: #FFF;
      left: -20px;
      top: 9px;
      position: absolute;
      border-radius: 50%;
    }

    span {
      font-weight: 700;
    }

    @media (max-width: 1250px) {
      font-size: 17px;
      line-height: 23px;
    }
  }

  &.roadmap__card-list--yellow {
    li {
      color: #5E4B0A;
    }
  }

  &.roadmap__card-list--pink {
    li {
      color: #722F5F;
    }
  }

  &.roadmap__card-list--purple {
    li {
      color: #362066;
    }
  }

  @media (max-width: 2560px) {
    max-width: 800px;
  }

  @media (max-width: 1440px) {
    max-width: 540px;
  }
}

.roadmap__card-shadow {
  background: rgba(219, 193, 102, 0.1);
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  position: absolute;
  height: 100%;
  z-index: 0;
  top: 10%;

  &.roadmap__card-shadow--right {
    right: 100px;
  }

  &.roadmap__card-shadow--left {
    left: 100px;
  }

  @media (max-width: 2560px) {
    width: 934px;
  }

  @media (max-width: 1440px) {
    width: 790px;
  }

  @media (max-width: 1250px) {
    display: none;
  }
}

.roadmap__card-wrapper {
  position: relative;
  z-index: 100;
}

.roadmap-body {
  overflow: hidden;
  max-height: 0;
  transition: 0.5s;
  padding-left: 150px;

  @media (max-width: 1250px) {
    padding-left: 24px;
  }
}

.roadmap-header {
  display: flex;
  align-items: center;
  gap: 50px;
  cursor: pointer;

  @media (max-width: 1250px) {
    gap: 20px;
  }
}

.roadmap-header__number {
  background: #FFF;
  padding: 13px 23px;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  border-radius: 30px;

  @media (max-width: 1250px) {
    font-size: 17px;
    padding: 7px;
  }
}

.roadmap-header__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;

  &.green {
    color: #0A5845;
  }

  &.blue {
    color: #085A65;
  }

  &.yellow {
    color: #5D4B0A;
  }

  &.pink {
    color: #722F5F;
  }

  &.purple {
    color: #362066;
  }

  @media (max-width: 1250px) {
    font-size: 13px;
  }
}