.scroll-top {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 19px;
  right: 10px;
  background: #527da0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: 0.6s;
  z-index: 9999;
  transform: translateX(-100%);

  img {
    width: 20px;
    height: 20px;
  }

  &.visible {
    opacity: 1;
    transform: translateX(0%);
  }
}