.wallet-group {
  display: flex;
  gap: 75px;
  align-items: center;
}

.wallet-icon {
  background: url("../img/wallet/wallet.svg");
  background-size: cover;
  width: 40px;
  height: 40px;

  @media (max-width: 1250px) {
    width: 30px;
    height: 30px;
  }
}