body {
  font-family: 'Open Sans';
  font-size: 24px;
  line-height: 33px;
}
header.header,
main.main,
footer.footer {
  overflow: hidden;
  width: 100vw;
}

.container {
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 16px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: 'ColorTube';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
}

.mobile-none {
  @media (max-width: 1250px) {
    display: none;
  }
}

.mobile-active {
  display: none;
  @media (max-width: 1250px) {
    display: block;
  }
}

.no-scroll {
  overflow: hidden;
}

.not-visible {
  display: none;
}