* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Open Sans';
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
}
header.header,
main.main,
footer.footer {
  overflow: hidden;
  width: 100vw;
}

.container {
  max-width: 1324px;
  margin: 0 auto;
  padding: 0 20px;

  @media (1440px) {
    max-width: 1168px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: 'Polly Rounded';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
}

.mobile-none {
  @media (max-width: 1250px) {
    display: none;
  }
}

.mobile-active {
  display: none;
  @media (max-width: 1250px) {
    display: block;
  }
}

.no-scroll {
  overflow: hidden;
}

.not-visible {
  display: none;
}
