/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: 'Open Sans'; font-size: 24px; line-height: 33px; }

header.header, main.main, footer.footer { overflow: hidden; width: 100vw; }

.container { max-width: 1168px; margin: 0 auto; padding: 0 16px; }

.row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.title { font-family: 'ColorTube'; font-style: normal; font-weight: 400; font-size: 24px; line-height: 38px; }

@media (max-width: 1250px) { .mobile-none { display: none; } }

.no-scroll { overflow: hidden; }

.not-visible { display: none; }

.about-product { max-height: 733px; display: -webkit-box; display: -ms-flexbox; display: flex; }
@media (max-width: 1440px) { .about-product { max-height: 633.92px; } }
@media (max-width: 1250px) { .about-product { display: block; max-height: 100%; } }

.about-product__video { width: 65%; overflow: hidden; padding-bottom: 42%; /*942/1894*100%*/ position: relative; height: 0; }
.about-product__video video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
@media (max-width: 1250px) { .about-product__video { width: 100%; padding-bottom: 75%; }
  .about-product__video video { max-width: 100%; height: auto; } }

.about-product__buy-block { width: 51%; height: auto; background: #F4E9E9; padding-top: 200px; text-align: center; overflow: hidden; position: relative; }
@media (max-width: 1250px) { .about-product__buy-block { width: 100%; } }

.about-product__buy-block__title { font-weight: 700; font-size: 36px; line-height: 49px; margin-bottom: 13px; position: relative; z-index: 999; }

.about-product__buy-block__about { font-weight: 400; font-size: 24px; line-height: 33px; margin-bottom: 33px; }

.about-product__buy-block__btn { font-family: 'ColorTube'; display: inline-block; padding: 14px 43px; font-size: 20px; line-height: 32px; background: #0f6eb2; -webkit-box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.15); box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.15); border-radius: 50px; text-decoration: none; color: #FFF; -webkit-transition: transform .4s; -webkit-transition: -webkit-transform .4s; transition: -webkit-transform .4s; transition: transform .4s; transition: transform .4s, -webkit-transform .4s; will-change: transform; z-index: 999; position: relative; text-align: center; }
.about-product__buy-block__btn:hover { -webkit-transform: scale(1.03); transform: scale(1.03); }
.about-product__buy-block__btn.about-product__buy-block__btn--margin { margin-top: 100px; margin-bottom: 120px; }
.about-product__buy-block__btn.about-product__buy-block__btn--margin-02 { margin-top: 120px; margin-bottom: 100px; }
@media (max-width: 1250px) { .about-product__buy-block__btn { font-size: 18px; line-height: 29px; padding: 15px 46px; }
  .about-product__buy-block__btn.about-product__buy-block__btn--margin { margin-top: 40px; } }

.product__buy-block__animate__box { position: absolute; }

.sofa-animate { top: 0; -webkit-animation: fade-right linear .7s; animation: fade-right linear .7s; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }

.inf-animate { position: absolute; -webkit-animation: fade-move infinite linear 1s; animation: fade-move infinite linear 1s; -webkit-animation-direction: alternate-reverse; animation-direction: alternate-reverse; z-index: 10; }
.inf-animate img { z-index: 10; position: relative; }

.table-animate { top: 300px; -webkit-animation: fade-right linear .7s; animation: fade-right linear .7s; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }

.table__around-animate { left: 45%; bottom: 0; -webkit-transform: translateX(-45%); transform: translateX(-45%); -webkit-animation: fade-bottom linear .7s; animation: fade-bottom linear .7s; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }

.coffee_table-animate { right: 164px; bottom: 300px; -webkit-animation: fade-left linear .7s; animation: fade-left linear .7s; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }

.chair-animate { right: 450px; top: 0; -webkit-animation: fade-top linear .7s; animation: fade-top linear .7s; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }

.decor-animate { top: 0; right: 150px; -webkit-animation: fade-top linear .7s; animation: fade-top linear .7s; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }

@-webkit-keyframes fade-top { from { top: -200px; }
  to { top: 0px; } }

@keyframes fade-top { from { top: -200px; }
  to { top: 0px; } }
@-webkit-keyframes fade-left { from { right: -200px; }
  to { right: 164px; } }
@keyframes fade-left { from { right: -200px; }
  to { right: 164px; } }
@-webkit-keyframes fade-right { from { left: -200px; }
  to { left: -100px; } }
@keyframes fade-right { from { left: -200px; }
  to { left: -100px; } }
@-webkit-keyframes fade-bottom { from { bottom: -200px; }
  to { bottom: 150px; } }
@keyframes fade-bottom { from { bottom: -200px; }
  to { bottom: 150px; } }
@-webkit-keyframes fade-move { from { top: 20px; }
  to { top: 2px; } }
@keyframes fade-move { from { top: 20px; }
  to { top: 2px; } }
.animate-carousel-item { max-height: 205px; width: 205px; }
.animate-carousel-item h4 img { width: 100%; height: auto; }

.product-cards__row { display: -webkit-box; display: -ms-flexbox; display: flex; overflow: hidden; -webkit-animation: nudge 5s linear infinite; animation: nudge 5s linear infinite; }

@-webkit-keyframes marquee { 0% { left: -100%; }
  100% { left: 0%; } }
@keyframes marquee { 0% { left: -100%; }
  100% { left: 00%; } }
@-webkit-keyframes marquee-2 { 0% { left: 0%; }
  100% { left: -100%; } }
@keyframes marquee-2 { 0% { left: 0%; }
  100% { left: -100%; } }
.b-marquee-line__flow { background: #f0f0f0; font-size: 0; line-height: 0; height: 240px; overflow: hidden; position: relative; width: 100%; }
.b-marquee-line__flow-in { display: -webkit-box; display: -ms-flexbox; display: flex; height: 240px; }
.cssanimations .b-marquee-line__flow-in { width: 200%; position: absolute; overflow: hidden; -webkit-animation: marquee 15s linear infinite; animation: marquee 15s linear infinite; }
.b-marquee-line__flow-block { display: -webkit-box; display: -ms-flexbox; display: flex; }
.no-cssanimations .b-marquee-line__flow-block:last-child { display: none; }
.cssanimations .b-marquee-line__flow-block { white-space: nowrap; float: left; width: 50%; }
.b-marquee-line__flow-item { height: 240px; }

.b-marquee-line-2__flow { background: #f0f0f0; font-size: 0; line-height: 0; height: 240px; overflow: hidden; position: relative; width: 100%; }
.b-marquee-line-2__flow-in { display: block; height: 240px; }
.cssanimations .b-marquee-line-2__flow-in { width: 200%; position: absolute; overflow: hidden; -webkit-animation: marquee-2 15s linear infinite; animation: marquee-2 15s linear infinite; }
.b-marquee-line-2__flow-block { white-space: nowrap; }
.no-cssanimations .b-marquee-line-2__flow-block:last-child { display: none; }
.cssanimations .b-marquee-line-2__flow-block { white-space: nowrap; float: left; width: 50%; }
.b-marquee-line-2__flow-item { height: 240px; }

@media screen and (max-width: 1440px) { .b-marquee-line__flow-item { height: 203px; }
  .b-marquee-line__flow { height: 203px; }
  .b-marquee-line__flow-in { height: 203px; }
  .b-marquee-line-2__flow { height: 203px; }
  .b-marquee-line-2__flow-in { height: 203px; } }
@media screen and (max-width: 1250px) { .b-marquee-line__flow-item { height: 130px; }
  .b-marquee-line__flow { height: 130px; }
  .b-marquee-line__flow-in { height: 130px; }
  .b-marquee-line-2__flow { height: 130px; }
  .b-marquee-line-2__flow-in { height: 130px; } }
.about { min-height: 784px; width: 100%; background: url("../img/about/bc_img.jpg"); padding-top: 120px; text-align: center; background-size: cover; }

.about-title { color: #ffc940; font-family: 'ColorTube'; font-size: 24px; line-height: 38px; margin-bottom: 48px; }
@media (max-width: 1250px) { .about-title { margin-bottom: 24px; } }

.about-subtitle { color: #FFF; text-align: center; }
@media (max-width: 1250px) { .about-subtitle { font-size: 17px; line-height: 23px; } }

.about-block-text { max-width: 980px; margin: 0 auto 80px auto; }

.group { position: relative; }

.circle-animate-purple { width: 20px; height: 20px; background: #CA47D6; position: absolute; right: 0; border-radius: 50%; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.circle-animate-purple.circle-animate::before { content: ''; position: absolute; top: 8px; width: 966px; height: 2px; background: #CA47D6; -webkit-transform: translateX(-100%); transform: translateX(-100%); -webkit-animation: draw 0.5s linear forwards; animation: draw 0.5s linear forwards; }
@media (max-width: 1250px) { .circle-animate-purple { display: none; } }

.circle-animate-green { width: 20px; height: 20px; background: #AEDC2D; position: absolute; right: 0; border-radius: 50%; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.circle-animate-green.circle-animate::before { content: ''; position: absolute; top: 8px; width: 966px; height: 2px; background: #AEDC2D; -webkit-transform: translateX(-100%); transform: translateX(-100%); -webkit-animation: draw 0.5s linear forwards; animation: draw 0.5s linear forwards; }
@media (max-width: 1250px) { .circle-animate-green { display: none; } }

@-webkit-keyframes draw { 0% { width: 100px; }
  100% { width: 900px; } }

@keyframes draw { 0% { width: 100px; }
  100% { width: 900px; } }
.about-company { background: #2D2D2D; padding: 120px 0; text-align: center; }
@media (max-width: 1250px) { .about-company { padding: 100px 0 65px 0; } }

.about-company__title { font-family: 'ColorTube'; margin-bottom: 70px; text-align: left; }
.about-company__title.purple { color: #CA47D6; }
.about-company__title.green { color: #AEDC2D; }
@media (max-width: 1250px) { .about-company__title { text-align: center; margin-bottom: 40px; } }

.about-company__story-block { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
@media (max-width: 1250px) { .about-company__story-block { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.about-company__story-block__text { max-width: 541px; }
.about-company__story-block__text p { color: #FFF; text-align: left; }
@media (max-width: 1250px) { .about-company__story-block__text { margin: 0 auto; }
  .about-company__story-block__text p { font-size: 17px; line-height: 23px; } }

.about-company__story-block__video { max-height: 550px; max-width: 550px; }
.about-company__story-block__video img { max-width: 100%; }
@media (max-width: 1250px) { .about-company__story-block__video { margin: 0 auto; } }

.about-company__story-block__story__text { color: #FFF; text-align: left; max-width: 1100px; margin-bottom: 70px; }
@media (max-width: 1250px) { .about-company__story-block__story__text { font-size: 17px; line-height: 23px; } }

.nft-cards { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 200px; }
@media (max-width: 1250px) { .nft-cards { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 65px; } }

.nft-card { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.nft-card__img { max-width: 300px; max-height: 300px; border-radius: 50%; margin: 0 auto; }
.nft-card__img.nft-card__img__01 { -webkit-animation: change_color_01 infinite 8s linear; animation: change_color_01 infinite 8s linear; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-direction: alternate; animation-direction: alternate; }
.nft-card__img.nft-card__img__02 { -webkit-animation: change_color_02 infinite 8s linear; animation: change_color_02 infinite 8s linear; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-direction: alternate; animation-direction: alternate; }
.nft-card__img img { max-width: 100%; height: auto; border-radius: 50%; }
@media (max-width: 1250px) { .nft-card__img { max-width: 200px; max-height: 200px; } }

@-webkit-keyframes change_color_01 { 0% { border: 4px solid yellow; }
  25% { border: 4px solid #00ff22; }
  50% { border: 4px solid #0537f6; }
  75% { border: 4px solid #f66105; }
  100% { border: 4px solid #e50d82; } }

@keyframes change_color_01 { 0% { border: 4px solid yellow; }
  25% { border: 4px solid #00ff22; }
  50% { border: 4px solid #0537f6; }
  75% { border: 4px solid #f66105; }
  100% { border: 4px solid #e50d82; } }
@-webkit-keyframes change_color_02 { 0% { border: 4px solid #0cf8ff; }
  25% { border: 4px solid #8401d2; }
  50% { border: 4px solid #000000; }
  75% { border: 4px solid #f60505; }
  100% { border: 4px solid #ffffff; } }
@keyframes change_color_02 { 0% { border: 4px solid #0cf8ff; }
  25% { border: 4px solid #8401d2; }
  50% { border: 4px solid #000000; }
  75% { border: 4px solid #f60505; }
  100% { border: 4px solid #ffffff; } }
.nft-card__about { margin-top: 58px; max-width: 252px; color: #FFF; text-align: center; }
@media (max-width: 1250px) { .nft-card__about { margin-top: 33px; } }

.nft-card__about__name { font-weight: 700; text-align: center; }
@media (max-width: 1250px) { .nft-card__about__name { font-size: 17px; line-height: 23px; } }

.nft-card__about__text { text-align: center; font-weight: 400; }
@media (max-width: 1250px) { .nft-card__about__text { font-size: 17px; line-height: 23px; } }

.game-block__title { margin-bottom: 55px; text-align: left; }
@media (max-width: 1250px) { .game-block__title { text-align: center; margin-bottom: 33px; } }

.game-block__subtitle { margin-bottom: 40px; font-family: 'Open Sans'; text-align: left; }
@media (max-width: 1250px) { .game-block__subtitle { font-size: 17px; line-height: 23px; } }

.game-place { position: relative; }

.room { position: absolute; }

.drop5 { bottom: 28px; left: 364px; opacity: 0; -webkit-transition: 1s; transition: 1s; z-index: 10; }
.drop5:hover { opacity: 1; }

.drop4 { bottom: 135px; left: 571px; opacity: 0; -webkit-transition: 1s; transition: 1s; z-index: 7; }
.drop4:hover { opacity: 1; }

.drop3 { bottom: 155px; left: 120px; opacity: 0; -webkit-transition: 1s; transition: 1s; }
.drop3:hover { opacity: 1; }

.drop2 { bottom: 240px; left: 772px; opacity: 0; -webkit-transition: 1s; transition: 1s; }
.drop2:hover { opacity: 1; }

.drop1 { bottom: 369px; left: 529px; opacity: 0; -webkit-transition: 1s; transition: 1s; z-index: 5; }
.drop1:hover { opacity: 1; }

.drop-text { position: absolute; }

.about-drop5 { top: 58%; left: 53%; -webkit-transform: translate(-58%, -53%); transform: translate(-58%, -53%); }

.name-drop5 { top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.about-drop3 { top: 57%; left: 53%; -webkit-transform: translate(-57%, -53%); transform: translate(-57%, -53%); }

.name-drop3 { top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.name-drop { font-family: 'Inter'; font-style: normal; font-weight: 700; font-size: 24px; line-height: 29px; }

.about-drop { font-family: 'Open Sans'; font-style: normal; font-weight: 400; font-size: 24px; line-height: 33px; }

.FAQ-block { margin-bottom: 323px; }
@media (max-width: 1250px) { .FAQ-block { margin-bottom: 100px; } }

.faq-title { text-align: left; margin-bottom: 50px; }
@media (max-width: 1250px) { .faq-title { margin-bottom: 33px; text-align: center; } }

.faq__according { text-align: left; }

.faq__accordion__header { border-top: 1px solid #FFF; font-weight: 700; padding: 7px 0 17px 0; cursor: pointer; position: relative; }
.faq__accordion__header span { position: absolute; right: 80px; top: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.faq__accordion__header span::before { content: ''; width: 30px; height: 2px; background: #FFF; position: absolute; -webkit-transition: .5s; transition: .5s; }
.faq__accordion__header span::after { content: ''; width: 30px; height: 2px; background: #FFF; position: absolute; -webkit-transform: rotate(90deg); transform: rotate(90deg); -webkit-transition: .5s; transition: .5s; }
@media (max-width: 1250px) { .faq__accordion__header { font-size: 17px; line-height: 23px; padding-right: 80px; }
  .faq__accordion__header span { right: 40px; }
  .faq__accordion__header span::before { width: 20px; height: 1px; }
  .faq__accordion__header span::after { width: 20px; height: 1px; } }

.folding-plus span::after { -webkit-transform: rotate(0deg); transform: rotate(0deg); }

.faq__accordion__body { -webkit-transition: .6s; transition: .6s; overflow: hidden; max-height: 0; }
.faq__accordion__body.faq__accordion__body--border { border-bottom: 1px solid #FFF; }

.faq__accordion__body__content { color: #BDBDBD; padding-top: 40px; padding-bottom: 55px; }
@media (max-width: 1250px) { .faq__accordion__body__content { font-size: 17px; line-height: 23px; padding-top: 15px; padding-bottom: 30px; } }

.footer-about { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
@media (max-width: 1250px) { .footer-about { display: none; } }

.footer-about-mobile { display: none; }
@media (max-width: 1250px) { .footer-about-mobile { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

.footer-terms a { text-decoration: none; color: #FFF; font-size: 16px; line-height: 22px; }
.footer-terms a span { font-weight: 700; }

.footer-disclaimer { font-size: 16px; line-height: 22px; }
.footer-disclaimer span { font-weight: 700; position: relative; margin-right: 16px; }
.footer-disclaimer span::before { content: ''; position: absolute; width: 3px; height: 3px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); background: #FFF; right: -10px; border-radius: 50%; }

.header { background: #2D2D2D; padding: 79px 0 37px 0; }
@media (max-width: 1250px) { .header { padding: 40px 0 15px 0; } }

.header-row { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.header-nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-column-gap: 45px; column-gap: 45px; }
@media (max-width: 1250px) { .header-nav { display: none; } }

.logo-group { text-decoration: none; color: #FFF; position: relative; }

.logo-title { font-family: 'ColorTube'; font-size: 28px; line-height: 45px; position: relative; }
.logo-title::before { content: ''; background: url("../img/header/logo_white 1.svg"); width: 88px; height: 84px; position: absolute; bottom: 11px; left: -53px; -webkit-animation: move infinite linear .7s; animation: move infinite linear .7s; -webkit-animation-direction: alternate; animation-direction: alternate; background-size: cover; }
@media (max-width: 1250px) { .logo-title { margin-left: 23px; font-size: 14px; }
  .logo-title::before { width: 46px; height: 44px; bottom: 18px; left: -30px; } }

@-webkit-keyframes move { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(10deg); transform: rotate(10deg); } }

@keyframes move { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(10deg); transform: rotate(10deg); } }
.logo-about { font-family: 'Open Sans'; font-weight: 500; font-size: 14px; line-height: 19px; }
@media (max-width: 1250px) { .logo-about { display: none; } }

.nav-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-column-gap: 56px; column-gap: 56px; }

.nav-list__item { color: #FFF; font-weight: 700; text-decoration: none; }

.nav-links { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-column-gap: 10px; column-gap: 10px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.social-link { width: 30px; height: 30px; -webkit-transition: transform .4s; -webkit-transition: -webkit-transform .4s; transition: -webkit-transform .4s; transition: transform .4s; transition: transform .4s, -webkit-transform .4s; will-change: transform; }
.social-link.houseoff { background: url("../img/header/social-icons/Logomark-Transparent White 2.png"); }
.social-link.inst { background: url("../img/header/social-icons/insta_logo_fin.png"); }
.social-link.tg { background: url("../img/header/social-icons/telegram_logo_fin.png"); }
.social-link.twit { background: url("../img/header/social-icons/twitter_log_ fin 1.png"); }
.social-link .tr3zor { background: url("../img/header/social-icons/etherscan-logo-fin.png"); }
.social-link:hover { -webkit-transform: scale(1.03); transform: scale(1.03); }

.burger { display: none; gap: 8px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.burger span { height: 2px; width: 30px; background: #FFF; }
.burger.burger-close { position: relative; top: 10px; }
.burger.burger-close span:nth-child(1) { display: none; }
.burger.burger-close span:nth-child(2) { -webkit-transform: rotate(133deg); transform: rotate(133deg); position: relative; top: 10px; }
.burger.burger-close span:nth-child(3) { -webkit-transform: rotate(50deg); transform: rotate(50deg); }
@media (max-width: 1250px) { .burger { display: -webkit-box; display: -ms-flexbox; display: flex; } }

.mobile-menu { position: fixed; width: 100%; min-height: 100vh; background: #2D2D2D; top: 0; z-index: 9999; }

.mobile-menu-header { padding-top: 40px; }

.footer { background: #194A5F; padding: 120px 0 156px 0; color: #FFF; text-align: center; overflow: hidden; }
@media (max-width: 1250px) { .footer { padding: 100px 0; } }

/*# sourceMappingURL=main.css.map */