/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: 'Open Sans'; font-size: 24px; line-height: 33px; }

.container { max-width: 1068px; margin: 0 auto; padding: 0 16px; }

.row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.header { background: #2D2D2D; padding: 79px 0 37px 0; }

.header-row { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.header-nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-column-gap: 45px; column-gap: 45px; }

.logo-group { text-decoration: none; color: #FFF; position: relative; }

.logo-title { font-family: 'ColorTube'; font-size: 28px; line-height: 45px; position: relative; }
.logo-title::before { content: ''; background: url("../img/header/logo_white 1.svg"); width: 88px; height: 84px; position: absolute; bottom: 11px; left: -53px; -webkit-animation: move infinite linear .7s; animation: move infinite linear .7s; -webkit-animation-direction: alternate; animation-direction: alternate; }

@-webkit-keyframes move { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(10deg); transform: rotate(10deg); } }

@keyframes move { 0% { -webkit-transform: rotate(0); transform: rotate(0); }
  100% { -webkit-transform: rotate(10deg); transform: rotate(10deg); } }
.logo-about { font-family: 'Open Sans'; font-weight: 500; font-size: 14px; line-height: 19px; }

.nav-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-column-gap: 56px; column-gap: 56px; }

.nav-list__item { color: #FFF; font-weight: 700; text-decoration: none; }

.nav-links { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-column-gap: 10px; column-gap: 10px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.social-link { width: 30px; height: 30px; -webkit-transition: 0.4s; transition: 0.4s; }
.social-link.houseoff { background: url("../img/header/social-icons/Logomark-Transparent White 2.png"); }
.social-link.inst { background: url("../img/header/social-icons/insta_logo_fin.png"); }
.social-link.tg { background: url("../img/header/social-icons/telegram_logo_fin.png"); }
.social-link.twit { background: url("../img/header/social-icons/twitter_log_ fin 1.png"); }
.social-link .tr3zor { background: url("../img/header/social-icons/etherscan-logo-fin.png"); }
.social-link:hover { -webkit-transform: scale(1.1); transform: scale(1.1); }

.about-product { max-height: 633.92px; display: -webkit-box; display: -ms-flexbox; display: flex; }

.about-product__video { width: 60%; }
.about-product__video video { max-width: 100%; height: auto; }

.about-product__buy-block { width: 40%; height: auto; background: #F4E9E9; padding-top: 200px; text-align: center; overflow: hidden; position: relative; }

.about-product__buy-block__title { font-weight: 700; font-size: 36px; line-height: 49px; margin-bottom: 13px; position: relative; z-index: 999; }

.about-product__buy-block__about { font-weight: 400; font-size: 24px; line-height: 33px; margin-bottom: 33px; }

.about-product__buy-block__btn { font-family: 'ColorTube'; display: inline-block; padding: 14px 43px; font-size: 20px; line-height: 32px; background: #0f6eb2; -webkit-box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.15); box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.15); border-radius: 50px; text-decoration: none; color: #FFF; -webkit-transition: transform .4s; -webkit-transition: -webkit-transform .4s; transition: -webkit-transform .4s; transition: transform .4s; transition: transform .4s, -webkit-transform .4s; will-change: transform; z-index: 999; position: relative; }
.about-product__buy-block__btn:hover { -webkit-transform: scale(1.03); transform: scale(1.03); }

.product__buy-block__animate__box { position: absolute; }

.sofa-animate { top: 0; -webkit-animation: fade-right linear .7s; animation: fade-right linear .7s; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }

.inf-animate { position: absolute; -webkit-animation: fade-move infinite linear 1s; animation: fade-move infinite linear 1s; -webkit-animation-direction: alternate-reverse; animation-direction: alternate-reverse; z-index: 10; }
.inf-animate img { z-index: 10; position: relative; }

.table-animate { top: 300px; -webkit-animation: fade-right linear .7s; animation: fade-right linear .7s; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }

.table__around-animate { left: 45%; -webkit-transform: translateX(-45%); transform: translateX(-45%); -webkit-animation: fade-bottom linear .7s; animation: fade-bottom linear .7s; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }

.coffee_table-animate { right: 164px; bottom: 300px; -webkit-animation: fade-left linear .7s; animation: fade-left linear .7s; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }

.chair-animate { right: 450px; top: 0; -webkit-animation: fade-top linear .7s; animation: fade-top linear .7s; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }

.decor-animate { top: 0; right: 150px; -webkit-animation: fade-top linear .7s; animation: fade-top linear .7s; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }

@-webkit-keyframes fade-top { from { top: -200px; }
  to { top: 0px; } }

@keyframes fade-top { from { top: -200px; }
  to { top: 0px; } }
@-webkit-keyframes fade-left { from { right: -200px; }
  to { right: 164px; } }
@keyframes fade-left { from { right: -200px; }
  to { right: 164px; } }
@-webkit-keyframes fade-right { from { left: -200px; }
  to { left: -100px; } }
@keyframes fade-right { from { left: -200px; }
  to { left: -100px; } }
@-webkit-keyframes fade-bottom { from { bottom: -200px; }
  to { bottom: 200px; } }
@keyframes fade-bottom { from { bottom: -200px; }
  to { bottom: 200px; } }
.product-cards__row { display: -webkit-box; display: -ms-flexbox; display: flex; overflow: hidden; -webkit-animation: nudge 5s linear infinite; animation: nudge 5s linear infinite; }

@-webkit-keyframes marquee { 0% { left: -100%; }
  100% { left: 0%; } }
@keyframes marquee { 0% { left: -100%; }
  100% { left: 00%; } }
@-webkit-keyframes marquee-2 { 0% { left: 0%; }
  100% { left: -100%; } }
@keyframes marquee-2 { 0% { left: 0%; }
  100% { left: -100%; } }
.b-marquee-line__flow { background: #f0f0f0; font-size: 0; line-height: 0; height: 240px; overflow: hidden; position: relative; width: 100%; }
.b-marquee-line__flow-in { display: block; height: 240px; }
.cssanimations .b-marquee-line__flow-in { width: 200%; position: absolute; overflow: hidden; -webkit-animation: marquee 10s linear infinite; animation: marquee 10s linear infinite; }
.b-marquee-line__flow-block { white-space: nowrap; }
.no-cssanimations .b-marquee-line__flow-block:last-child { display: none; }
.cssanimations .b-marquee-line__flow-block { white-space: nowrap; float: left; width: 50%; }
.b-marquee-line__flow-item { height: 240px; }

.b-marquee-line-2__flow { background: #f0f0f0; font-size: 0; line-height: 0; height: 240px; overflow: hidden; position: relative; width: 100%; }
.b-marquee-line-2__flow-in { display: block; height: 240px; }
.cssanimations .b-marquee-line-2__flow-in { width: 200%; position: absolute; overflow: hidden; -webkit-animation: marquee-2 10s linear infinite; animation: marquee-2 10s linear infinite; }
.b-marquee-line-2__flow-block { white-space: nowrap; }
.no-cssanimations .b-marquee-line-2__flow-block:last-child { display: none; }
.cssanimations .b-marquee-line-2__flow-block { white-space: nowrap; float: left; width: 50%; }
.b-marquee-line-2__flow-item { height: 240px; }

.about { min-height: 784px; width: 100%; background: url("../img/about/bc_img.jpg"); padding-top: 120px; text-align: center; background-size: cover; }

.about-title { color: #ffc940; font-family: 'ColorTube'; font-size: 24px; line-height: 38px; margin-bottom: 48px; }

.about-subtitle { color: #FFF; }

.about-block-text { margin-bottom: 177px; }

.about-company { background: #2D2D2D; padding: 120px 0; }

.about-company__title { font-family: 'ColorTube'; }
.about-company__title.purple { color: #CA47D6; }

/*# sourceMappingURL=main.css.map */